<% include partials/header %> 
<div class="jumbotron jumbotron-fluid" style="padding: 2rem 1rem;">
    <div class="container">
        <h3 class="display-4">Welcome to Quantum Airlines</h3>
    </div>
</div>


<% include partials/footer %>
