<% include partials/header %>
<div class="jumbotron jumbotron-fluid" style="padding: 2rem 1rem;">
  <div class="container">
    <h3 class="display-4">Welcome to Quantum Airlines</h3>
  </div>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="/search" style="text-decoration: none; color: black;" class="card">
            <div class="card-title">Find flights</div>
            <div class="card-desc">Search among our best in class flights that fits your schedule!</div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="/search" style="text-decoration: none; color: black;"  class="card">
            <div class="card-title">Book tickets</div>
            <div class="card-desc">Reserving seats made simple!</div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="/pnr" style="text-decoration: none; color: black;"  class="card">
            <div class="card-title">PNR Enquiry</div>
            <div class="card-desc">Check the status of your booking.</div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="/cancel" style="text-decoration: none; color: black;"  class="card">
            <div class="card-title">Cancel Tickets</div>
            <div class="card-desc">Get 80% refund on ticket cancellation!</div>
        </a>
    </div>
</div>

<% include partials/footer %>
